---
template: nil
---

# Standard stuff
RewriteEngine on
ServerSignature Off
Options +FollowSymlinks

# Force Firefox 2, Camino 1.x et al to recognise HTML 5
RewriteCond %{REQUEST_URI} \.html$
RewriteCond %{HTTP_USER_AGENT} rv:1\.(([1-8]|9pre|9a|9b[0-4])\.[0-9.]+).*Gecko
RewriteRule .* - [T=application/xhtml+xml]

# Get rid of www
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# Redirect stupid requests for robots.txt and favicon.ico in the wrong places
RedirectMatch 301 ^/(.*)/robots\.txt http://mottr.am/robots.txt
RedirectMatch 301 ^/(.*)/favicon\.(ico|gif) http://mottr.am/favicon.ico

# Custom 404
ErrorDocument 404 /404/
ErrorDocument 410 /410/

# Redirect old Wordpress stuff, changed URLS, short URLs to canonical URLs
redirect 301 /2009/08/26/pinboard-in-conkeror/ http://mottr.am/2009/08/26/pinboard-and-conkeror/
redirect 301 /page/2/ http://mottr.am/2/
redirect 301 /page/3/ http://mottr.am/3/
redirect 301 /page/4/ http://mottr.am/4/
redirect 301 /feed/atom/ http://mottr.am/atom.xml
redirect 301 /feed/ http://mottr.am/atom.xml

{% for post in site.posts %}{% if post.short %}redirect 301 /{{ post.short }} http://mottr.am{{ post.id }}
{% endif %}{% endfor %}

# 410 for stuff that's gone forever

Redirect gone /index2.html

# Compress text files
<IfModule mod_deflate.c>
  <FilesMatch "\.(css|js|x?html?|php)$">
    SetOutputFilter DEFLATE
  </FilesMatch>
</IfModule>
 
# Expire headers
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 1 seconds"
  ExpiresByType image/x-icon "access plus 2592000 seconds"
  ExpiresByType image/jpeg "access plus 2592000 seconds"
  ExpiresByType image/png "access plus 2592000 seconds"
  ExpiresByType image/gif "access plus 2592000 seconds"
  ExpiresByType application/x-shockwave-flash "access plus 2592000 seconds"
  ExpiresByType text/css "access plus 604800 seconds"
  ExpiresByType text/javascript "access plus 2592000 seconds"
  ExpiresByType application/x-javascript "access plus 2592000 seconds"
  ExpiresByType text/html "access plus 600 seconds"
  ExpiresByType application/xhtml+xml "access plus 600 seconds"
</IfModule>
 
# Cache-Control Headers
<IfModule mod_headers.c>
  <FilesMatch "\\.(ico|jpe?g|png|gif|swf)$">
    Header set Cache-Control "max-age=2592000, public"
  </FilesMatch>
  <FilesMatch "\\.(css)$">
    Header set Cache-Control "max-age=604800, public"
  </FilesMatch>
  <FilesMatch "\\.(js)$">
    Header set Cache-Control "max-age=216000, private"
  </FilesMatch>
  <FilesMatch "\\.(x?html?|php)$">
    Header set Cache-Control "max-age=600, private, must-revalidate"
  </FilesMatch>
</IfModule>
 
# Turn ETags Off
<IfModule mod_headers.c>
  Header unset ETag
</IfModule>
FileETag None
 
# Remove Last-Modified Header
<IfModule mod_headers.c>
  Header unset Last-Modified
</IfModule>
