---
template: nil
---
Options +FollowSymlinks
RewriteEngine on
RewriteCond %{REQUEST_URI} \.html$
RewriteCond %{HTTP_USER_AGENT} rv:1\.(([1-8]|9pre|9a|9b[0-4])\.[0-9.]+).*Gecko
RewriteRule .* - [T=application/xhtml+xml]

ErrorDocument 404 /404/

redirect 301 /feed/atom/ http://mottr.am/atom.xml
{% for post in site.posts %}{% if post.short %}redirect 301 /{{ post.short }} http://mottr.am{{ post.id }}
{% endif %}{% endfor %}