---
title: Archive
layout: default
type: archive
description: The Mottr.am archives
keywords: art, design, photography, mottram
---
<div id="archive">
	<nav class="archive-nav">
	<ul>
		<li><a title="Every post, in a big long list" href="#everything">Everything</a></li>
		<li><a title="Links to other websites" href="#link">Links</a></li>
		<li><a title="Pieces of writing, usually brief" href="#basic">Posts</a></li>
		<li><a title="Art, design, illustration, photography; stuff for your eyes." href="#photo">Images</a></li>
		<li><a title="Songs, tunes, field recordings; stuff for your ears" href="#audio">Audio</a></li>
		<li><a title="Art, cinema; stuff for your eyes that moves" href="#video">Video</a></li>
	</ul>
	</nav>

<div id="everything">
	<p>All {{ site.posts.size }} posts, in a big long list.</p>
	<ol class="hfeed">
	{% for post in site.posts %}
		<li class="hentry">
			<h2 class="entry-title"><a rel="bookmark" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <time class="published" datetime="{{ post.date | date: "%Y-%m-%d"  }}">{{ post.date | date_to_long_string }}</time></h2>
			<p class="entry-summary">{{ post.description }}</p>
		</li>
	{% endfor %}
	</ol>	
</div>

<div id="link">
	<p>Links to other websites, with commentary (sometimes).</p>
	<ol class="hfeed">
{% for post in site.posts %}
{% if post.type == 'link' %}
		<li class="hentry">
			<h2 class="entry-title"><a rel="bookmark" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <time class="published" datetime="{{ post.date | date: "%Y-%m-%d"  }}">{{ post.date | date_to_long_string }}</time></h2>
			<p>{{ post.description }}</p>
		</li>
{% endif %}
{% endfor %}
	</ol>
</div>

<div id="basic">
	<p>Pieces of writing, usually brief.</p>
	<ol class="hfeed">
{% for post in site.posts %}
{% if post.type == 'basic' %}
		<li class="hentry">
			<h2 class="entry-title"><a rel="bookmark" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <time class="published" datetime="{{ post.date | date: "%Y-%m-%d"  }}">{{ post.date | date_to_long_string }}</time></h2>
			<p>{{ post.description }}</p>
		</li>
{% endif %}
{% endfor %}
	</ol>
</div>

<div id="photo">
	<p>Art, design, illustration, photography; stuff for your eyes.</p>
	<ol class="hfeed">
{% for post in site.posts %}
{% if post.type == 'photo' %}
		<li class="hentry">
			<h2 class="entry-title"><a rel="bookmark" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <time class="published" datetime="{{ post.date | date: "%Y-%m-%d"  }}">{{ post.date | date_to_long_string }}</time></h2>
			<p>{{ post.description }}</p>
		</li>
{% endif %}
{% endfor %}
	</ol>
</div>

<div id="audio">
	<p>Songs, noises, field recordings; stuff for your ears.</p>
	<ol class="hfeed">
{% for post in site.posts %}
{% if post.type == 'audio' %}
		<li class="hentry">
			<h2 class="entry-title"><a rel="bookmark" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <time class="published" datetime="{{ post.date | date: "%Y-%m-%d"  }}">{{ post.date | date_to_long_string }}</time></h2>
			<p>{{ post.description }}</p>
		</li>
{% endif %}
{% endfor %}
	</ol>
</div>

<div id="video">
	<p>Art, cinema, long photographs; stuff for your eyes (that moves).</p>
	<ol class="hfeed">
{% for post in site.posts %}
{% if post.type == 'video' %}
		<li class="hentry">
			<h2 class="entry-title"><a rel="bookmark" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <time class="published" datetime="{{ post.date | date: "%Y-%m-%d"  }}">{{ post.date | date_to_long_string }}</time></h2>
			<p>{{ post.description }}</p>
		</li>
{% endif %}
{% endfor %}
	</ol>
</div>
</div><!--end archive-->