---
layout: default
title: Home
category: home
description: Jack Mottram's weblog
---
<section id="posts">
	<article>
{% for post in site.categories.basic limit:1 %}
		<h1>{{ post.title  }}</h1>
		{% include home_meta.html %}
		{{ post.content }}
{% endfor  %}
	</article>
	
	<div>
	<ul>
{% for post in site.categories.basic limit:20 offset:1 %}
		<li>
			<h2><a rel="bookmark" href="{{ post.url }}" title="Permanent link to '{{ post.title }}'">{{ post.title }}</a></h2>
			<time datetime="{{ post.date | date: "%Y-%m-%d"  }}">{{ post.date | date_to_long_string }}</time>
			<p>{{ post.description }}</p>
		</li>
		
{% endfor %}
	</ul>
	</div>
	
	<div>
	<ul class="links">
	{% for post in site.categories.link limit:10 %}
	<li>
		<h2><a href="{{ post.linkto }}">{{ post.title }}</a></h2>
		<time datetime="{{ post.date | date: "%Y-%m-%d"  }}">{{ post.date | date_to_long_string }}</time>
		{{ post.content }}
	</li>		
	{% endfor %}
	</ul>
	</div>
	
	<div>
		<ul>
	{% for post in site.posts limit:60 %}
		{% if post.category == 'photo' %}
			{% if post.imageurl %}
			<li>
				<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
				<time datetime="{{ post.date | date: "%Y-%m-%d"  }}">{{ post.date | date_to_long_string }}</time>
				<img width="196" src="http://dl.dropbox.com/u/84981/blog/{{ post.imageurl }}" />
			</li>
			{% endif %}
			
		{% elsif post.category == 'video' %}
			<li>
				<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
				<time datetime="{{ post.date | date: "%Y-%m-%d"  }}">{{ post.date | date_to_long_string }}</time>
				<object type="application/x-shockwave-flash" style="width:196px;height:147px;" data="{{ post.video_link }}">
				<param name="movie" value="{{ post.video_link }}" />
				</object>
			</li>
		{% elsif post.category == 'audio' %}
			<li>
				<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
				<time datetime="{{ post.date | date: "%Y-%m-%d"  }}">{{ post.date | date_to_long_string }}</time>
				<p id="audioplayer_1"><a title="Download the audio file" href="{{ post.audio_link }}">Download</a></p>  
			<script type="text/javascript">  
			AudioPlayer.embed("audioplayer_1", {soundFile: "{{ post.audio_link }}"});  
			</script>
			</li>
		{% endif %}
	{% endfor %}
		</ul>
	</div>
	<br clear="all" />
</section>