---
layout: default
title: Home
type: index
has_code: yes
description: Jack Mottram's weblog 
keywords: art, photography, design, fashion, web development, mottram
---

<section>
{% for post in site.posts limit: 20 %}


{% if post.type == 'photo' %}

		<article class="photo">
			<h2>{{ post.title }}</h2>
			{% include home_meta.html %}
			<img alt="{{ page.title }}" title="{{ page.title }}" src="{{ post.image_url }}" width="500px" />
			{{ post.content }}
		</article>

{% endif %}


{% if post.type == 'link' %}

	<article class="link">
		<h2><a title="{{ post.title }}" href="{{ post.link_to }}">{{ post.title }}</a></h2>
		{% include home_meta.html %}
		{{ post.content }}
	</article>

{% endif %}


{% if post.type == 'video' %}

	<article>
		<h2>{{ post.title }}</h2>
		{% include home_meta.html %}
		<object type="application/x-shockwave-flash" style="width:500px; height:410px;" data="{{ post.video_link }}">
		<param name="movie" value="{{ post.video_link }}" />
		</object>
		{{ post.content }}
	</article>

{% endif %}

{% if post.type == 'basic'%}

	<article>
		<h2>{{ post.title }}</h2>
		{% include home_meta.html %}
		{{ post.content }}
	</article>

{% endif %}
{% endfor %}
</section>

<nav>
	<ul>
		<li><a title="Peruse the Mottr.am archive" href="/archive/">Archive</a></li>
		<li><a title="Subscribe to the Mottr.am feed" href="/feed/atom/">Feed</a></li>
		<li><a title="About Mottr.am" href="/about/">About</a></li>
		<li><a title="Send Jack an email" href="mailto:j@ck.mottr.am">Contact</li>
	</ul>
</nav>