font-family: 'GentiumBasicRegular';src: url('/f/beckett/GenBasR.eot');
	src: local('Gentium Basic Regular'),local('GentiumBasic'),url('/f/beckett/GenBasR.woff') format('woff'),url('/f/beckett/GenBasR.ttf') format('truetype'),url('/f/beckett/GenBasR.svg#GentiumBasic') format('svg');
	}
	
body {
	color:#fafafa;
	font-family:Georgia, serif;background:#48555F;
	background:#000;
	background:-webkit-gradient(linear,left top,left bottom,from(#000),to(#48555f)) no-repeat fixed;
	background: -moz-linear-gradient(top, #000, #48555f) fixed;
	}
	
p {
	font-weight:100;margin-bottom:0.4em;
	}

p+p {
	text-indent:1em;
	}

nav#main {
	background:#48555f;
	border-bottom:1px solid #6ebfd5;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	text-align:center;
	text-transform:uppercase;
	}

nav#main input {
	display:none;
	}
	
a {
	color:#6EBFD5 !important;-moz-transition: all 0.1s ease-in-out;-webkit-transition: all 0.1s ease-in-out;
	}

a:hover {
	color:#fff!important;
	text-decoration:none!important;
	text-shadow:0 0 2px rgba(255,255,255,0.5),0 0 4px rgba(0,0,0,0.5),0 0 6px rgba(0,0,0,0.5);
	}
	
nav#main a {
	font-family: "GentiumBasicRegular", Georgia, serif !important;
	color:#6EBFD5 !important;
	text-decoration:none !important;
	text-shadow:none !important;
	}

article {
	width:800px !important;
	font-size:1.2em;
	line-height:1.6em;
	display:block;
	background:transparent;
	border:none!important;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-column-width: 200px;
	-moz-column-width: 200px;
	column-width: 200px;
	}

article aside {
	line-height:1.6em !important;
	}

article footer {
	font-size:11px;
	color:#888 !important;
	}
	
article footer a {
	color:#888 !important;
	}

article footer:hover {
	color:#fff;
	}

article header {
	width:900px;
	margin:0 0 4em -4em;
	}

article h1 {
	font-family: 'GentiumBasicRegular',Georgia, serif;
	font-size:5em;
	letter-spacing:0.1em;
	color:#6EBFD5;
	line-height:1em;
	text-transform:uppercase;
	border:none !important;
	text-shadow: 0 1px 0 rgba(255,255,255,1);
	display:block;
	}

article section header h1 {
	font-size:3em !important;
	margin-bottom:0px;
	}

section {
	width:800px !important;
	margin:0 auto;
	}

img {
	float:left;
	width:200px;
	margin:0 0.6em 0.2em -4em;
	padding:0.2em;
	border:1px solid #aaa !important;
	background:#48555F;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	}

img:hover {
	-moz-transform:rotate(-1deg) scale(1.4);
	-webkit-transform:rotate(-1deg) scale(1.4);
	}

.amp {
	font-family: "Hoefler Text", Baskerville, Palatino, Constantia, "Palatino Linotype", "Book Antiqua", serif;
	font-style: italic;
	}

nav ul.more a {
	text-shadow:none!important;
	-moz-text-shadow:none !important;
	-webkit-text-shadow:none !important;
	}

sup {
	font-size:0.8em;
	}
