/*
	Transparency for IE8 (first line) and IE6 and 7 (second line)
*/
nav#main {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=80);
}
/*
	I'm experimenting with improving IE's @font-face rendering here.
	See http://allcreatives.net/2009/12/05/smoother-font-face-embedding-in-ie-7-8/	
*/
h1, .about h2, .contact h2, .museo {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/u/hIEfix.png,sizingMethod=crop);
	zoom:1;
}
/*
	IE 7 doesn't like position: fixed for some reason, so it gets a hack
*/
*:first-child+html {} nav#main {
	position:relative;
	top:0;
}
/*
	IE 8 has a bug regarding noscript, so I've added an extra div - see http://mottr.am/ien
*/
noscript div {
	margin:60px;
	padding:10px;
	color:#ff0000;
	background:#ffffe0;
	border:1px solid #ff0000;
}