nav#main {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; /* Transparency for IE 8  */
	filter: alpha(opacity=80); /* And for IE 5-7, in theory */
}

article, section, .about article, div.contact, h1, h2 {
	border:none; /* gets rid of boxes and underlines */
}

/* IE 7 doesn't like position: fixed for some reason, so it gets a hack */
*:first-child+html {} nav#main {
	position:relative;
	top:0;
}

noscript {
	margin:60px;
	padding:10px;
	color:#ff0000;
	background:#ffffe0;
	border:1px solid #ff0000;
}
