/* This is all a bit of a mess, but feel free to use anything you like the look of!
The site looks nice in the latest versions of Firefox, Safari and Opera; in IE versions 6 to 8
and Firefox 2 it looks nice enough, but without the pretty shadows and gradients.
(It looks completely bonkers in IE 5.5, but I don't think many folk use that nowadays.) */

html {
	background: #fff;
	background: -webkit-gradient(linear,0 100%,0 0,color-stop(.3,#fff),color-stop(1,#eee)) fixed no-repeat 0 100%;
	background: -moz-linear-gradient(0 100%,0 0,color-stop(.3,#fff),color-stop(1,#eee)) fixed no-repeat 0 100%;
}

body {
	background:transparent;
	color:#555;
	font:normal 16px/24px Helvetica, Arial, sans-serif;
}

section {
	background:transparent;
	width:640px;
	margin:96px auto;
}

dd, h1, h2, p, cite, quote, blockquote, object, ol, ul, img, pre {
	margin-bottom:24px;
}

h1, .about h2 {
	font-size:28px;
	font-weight:normal;
	padding:0 0 12px 0;
	border-bottom:1px solid #ddd;
	text-shadow: #ddd 1px 1px 0;
}

.link h1:after {
	font-family:Georgia, serif;
	color:#008;
	font-size:24px;
	content:" \261b";
	}
	
h3 {
	font-size:16px;
	line-height:24px;
	font-weight:normal;
}

ol {
	list-style-type:decimal;
}

ul {
	list-style-type:circle;
}

pre, code {
	font-family:Monaco, Consolas, "Andale Mono", "monotype.com", "Bitstream Vera Sans Mono", monospace;
	font-size:15px;
}

blockquote {
	color:#777;
	text-align:justify;
	padding:0 66px 0 48px;
}

a, a:link, a:visited, a:active{
	color:#008;
	text-decoration:none;
	}
	
a:hover {
	color:#555;
	}
	
/* nav */

nav#main {
	position:fixed;
	top:0;
	width:100%;
	border-bottom:1px solid #ddd;
	background:#fff;
	background: #fff;
	opacity:.8;
	height:24px;
	padding:12px 0;
	-webkit-box-shadow: 0px 4px 4px #ccc;
	-moz-box-shadow: 0px 4px 4px #ccc;
	box-shadow: 0px 4px 4px #ccc;
	z-index:99;
}

nav#main ul {
	position:relative;
	width:590px;
	margin:0 auto;
}

nav#main ul li form {
	display:inline;
	position:absolute;
	right:0;
}

nav#main input.idle {
	color:#999;
	font-size:13px;
	line-height:15px;
	border:1px solid #dedede;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding:1px;
	-webkit-box-shadow: 1px 1px 1px #ccc;
	-moz-box-shadow: 1px 1px 1px #ccc;
	box-shadow: 1px 1px 1px #ccc;
}

nav#main input.focus {
	color:#444;
	border:1px solid #aaa;
}

nav ul li {
	display:inline;
	list-style-type:none;
	margin:0 7px 0 0;
}

nav ul li a {
	text-shadow: #ddd 0 -1px 0, rgba(255,255,255,.2) 0 1px 0;
}

nav ul li.active a {
	color:#444;
}

nav ul li a:hover {
	text-shadow: #ddd 1px 1px 0;
}


/* Metadata */

article footer {
	font-size:13px;
	font-weight:lighter;
	margin:-16px 0 24px 0;
}

address {
	font-style:normal;
}

footer address, .about address {
	display:inline;
}

article, section#archive, div.contact {
	margin:0;
	border:1px solid #ddd;
	-webkit-box-shadow: 3px 3px 3px #ccc;
	-moz-box-shadow: 3px 3px 3px #ccc;
	box-shadow: 3px 3px 3px #ccc;
	padding:48px 24px 24px 24px;
	background: #fff;
/* not sure about this - overkill? */
/*	background: -webkit-gradient(linear,0 60%,0 0,color-stop(.1,#fff),color-stop(1,#eaeaea)) scroll no-repeat 0 100%;
	background: -moz-linear-gradient(0 60%,0 0,color-stop(.1,#fff),color-stop(1,#eaeaea)) scroll no-repeat 0 100%;
*/
}

section#archive {
	width:590px;
	margin:96px auto;
	background:#fff;
}

section#archive section {
	margin:0;
}

.about article, div.contact, .photo article, .video article, .link article, .basic article, ul.more {
	width:590px;
	margin:96px auto;
}

article ul, article ol {
	padding:0 24px;
}

article ul li {
	margin:0 0 24px 0;
}

.home article {
	margin:0 0 120px 0;
}

ul.more {
	text-align:center;
}

ul.more li {
	padding:0 14px;
}

/* photos, videos */

img, object {
	border:1px solid #aaa;
}

/* code */

div.highlight {
	font-size:12px;
	width:600px;
	overflow:auto;
	margin-bottom:21px;
}

div.highlight li p {
	margin:0;
}

/* archive */

nav.archive {
	margin:24px 0 0;
}

nav.archive ul {
	padding:0 0 12px 0;
	border-bottom:1px solid #ddd;
}

.archive h2 {
	padding:0;
}

.archive ol {
	list-style-type:none;
}

.archive ol li {
	margin-bottom:24px;
}

.archive ol p {
	font-size:14px;
}

.archive h2 {
	font-size:16px;
	margin:0px;
	font-weight:normal;
}

.archive h2 time {
	font-size:14px;
	color:#777;
}

.archive-nav ul {
margin-top:-24px;
}

/* short urls */

#shorturl {
	font-size:12px;
	color:#555;
	border:none;
}

#shorturl input:focus {
	outline:none;
}

/* maps */

#map {
	display:none;
	}
	
img.map {
	border:none !important;
	padding:0 !important;
}


div.contact li {
	list-style:none;
	margin:0 0 4px 0;
}

/* footnotes */

article aside {
	border-top:1px solid #ddd;
	font-size:14px;
}

article aside ol {
	margin:12px 0 0 24px;
}

sup {
	font-size:12px;
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	vertical-align: bottom;
	position: relative;
	bottom: 1ex;
}

/* misc. */

.amp {
	font-family:Baskerville, Palatino, "Book Antiqua", serif;
	font-style:italic;
}

em {
	font-style:italic;
}
	
abbr {
	border-bottom:1px dotted #aaa !important;
}
