/* Reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,menu,nav,section,time,mark,audio,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}body{line-height:1;}article,aside,dialog,figure,footer,header,hgroup,nav,section{display:block;}nav ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}a{border:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}ins{background-color:#ffe;color:#000;text-decoration:none;}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700;}del{text-decoration:line-through;}abbr[title],dfn[title]{border:none;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}input,select{vertical-align:middle;}
/* end reset */

/* Styles - this is still a work in progress, so everything is a bit messy at the moment - sorry! */

html {
	font-size:100.01%;
}

body {
	background: #fff;
	color:#666;
	font-weight:300;
	font:normal 1em/1.5em Helvetica, "Helvetica Neue", Arial, sans-serif;
}

section {
	background:transparent;
	width:40em;
	margin:6em auto;
}

dd, h1, h2, p, cite, quote, blockquote, object, ol, ul, img, pre {
	margin-bottom:1.5em;
}

h1, .about h2, .contact h2 {
	font-size:1.75em;
	line-height:1.5em;
	font-weight:normal;
	text-shadow: 0px 2px 3px rgba(255,255,255,1);
}
 

.link h1:after {
	font-family:Baskerville, Palatino, "Book Antiqua", Georgia, serif;
	color:#aaa;
	font-weight:normal !important;
	font-size:1.13em;
	content:" \261b"; 
	}

.link p {
	font-size:0.88em;
	}

.link h1 {
	font-size:1.2em;
} 

h3 {
	font-size:1em;
	line-height:1.5em;
	font-weight:normal;
}

ol {
	list-style-type:decimal;
}

ul {
	list-style-type:circle;
}

pre, code {
	font-family:Monaco, Consolas, "Andale Mono", "monotype.com", "Bitstream Vera Sans Mono", monospace;
	font-size:0.88em;
}

blockquote {
	color:#777;
	text-align:justify;
	padding:0.75em 0.75em;
	margin:0 0 1.5em 0 0;
    border-left:1px solid #eee;
}

blockquote p {
	margin:0;
}

blockquote + p > em {
	display:block;
	text-align:right;
	margin:-0.75em 4.13em 1.5em 0;
}

blockquote + p > em:before {
	content:" \2014";
}

a, a:link, a:visited, a:active {
	color:#000;
	font-weight:400;
	text-decoration:none;
	-moz-transition: all 0.3s ease-in-out;
   	-webkit-transition: color 0.3s ease-in-out; /* all causes Safari for iPhone to wig out  */
	transition: all 0.3s ease-in-out;
}

a:active {
	background:#eee;
	background:rgba(170,170,170,0.5);
}

a:hover {
	color:#aaa!important;
}

article a {
	text-decoration:underline!important;
}

article footer a, article header a {
	text-decoration:none!important;
}
	
nav#main {
	position:fixed;
	top:0;
	width:100%;
	height:1.5em;
	line-height:1.5em;
	background:#fff;
	background:rgba(255,255,255,0.2);
	border-bottom:1px solid #fff;
	border-bottom:1px solid rgba(255,255,255,0.8);
	z-index:99;
}

nav#main ul {
	font-size:0.750em;
	position:relative;
	width:49em;
	margin:0 auto;
/*	background:rgba(0,0,0,0.1);
	border:1px solid rgba(0,0,0,0.1);
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
*/
}

nav#main ul li a {
	color:#aaa;
	color:rgba(0,0,0,0.6);	
	-moz-transition: color 0.5s ease-in-out;
	-webkit-transition: color 0.5s ease-in-out;
}

nav#main ul li a:hover {
	color:#000;
}

nav#main ul li.active a {
	color:#000 !important;
}

nav#main ul li form {
	display:inline;
	position:absolute;
	right:0;
}

nav#main input.idle {
	color:#999;
	font-size:0.75em;
	border-top:1px solid #aaa;
	border-right:1px solid #aaa;
	border-bottom:1px solid #aaa;
	border-left:1px solid #aaa;
}

nav#main input.focus {
	color:#444;
	border:1px solid #444;
}

nav#main input {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	padding:1px;
	border-top:1px solid #aaa;
	border-right:1px solid #aaa;
	border-bottom:1px solid #aaa;
	border-left:1px solid #aaa;
}

nav ul li {
	display:inline;
	list-style-type:none;
	margin:0 0.44em 0 0;
}

/* Category styles - colours need work...

body.basic {
	background:rgba(36,83,125,0.1);
}

body.basic a {
	color:rgba(36,83,125,1);
}

body.home .basic a:hover {
	color:rgba(36,83,125,1);
}


body.link {
	background:rgba(105,160,143,0.1);
}

body.link a {
	color:rgba(105,160,143,1);

}

body.home .link a:hover {
	color:rgba(105,160,143,1);

}


body.audio , body.photo , body.video  {
	background:rgba(79,97,29,0.1);
}

body.audio a, body.photo a, body.video a {
	color:rgba(79,97,29,1);
}

body.home .audio a:hover, body.home .photo a:hover, body.home .video a:hover {
	color:rgba(79,97,29,1);
}

*/

/* Metadata */

article footer {
	font-size:0.81em;
	font-weight:lighter;
	margin:-3em 0 1.5em 0;
}

article.link footer {
	margin:-1.75em 0 1.5em 0;
}

article nav h1 {
	font-size:1em;
}

article nav ul {
	padding:0;
	margin:0;
	font-size:0.88em;
}

article nav ul li {
	display:block;
	margin:0 0 0.75em;
	padding:0;
}

article nav ul time {
	color:#777;
}

article nav ul li a {
	text-shadow:none !important;
}

address {
	font-style:normal;
}

footer address, .about address {
	display:inline;
}

.about h2, .contact h2 {
	margin-top:3em;
}

article, section#archive, div.contact {
	margin:0;
	padding:3em 1.5em 1.5em 1.5em;
	background: transparent;
}

section#archive {
	width:36.875em;
	margin:6em auto;
	background:#fff;
}

section#archive section {
	margin:0;
}

.active {
	color:#777!important;
}

.about article, div.contact, .photo article, .video article, .link article, .basic article, .audio article, ul.more {
	width:36.875em;
	margin:6em auto;
}

article ul, article ol {
	padding:0;
}

article ul li, article ol li {
	margin:0 0 1.5em 0;
}

.home article {
	margin:0 0 7.5em 0;
}

ul.more {
text-align:center;
padding:0.25em 1.5em 4px 1.5em;
height:1.5em !important;
}

ul.more li {
	font-size: 0.750em;
	padding:0 0.88em 0 0;
}

/* Tidy up pygments code highlighting a bit */

div.highlight pre {
	font-size:0.81em;
}

div.highlight {
	width:36.875em;
	overflow:auto;
	margin:0 0 0.75em 0;
}

div.highlight li p {
	margin:0;
}

/* archive page */

nav.archive {
	margin:1.5em 0 0;
}

nav.archive ul {
	padding:0 0 0.75em 0;
	border-bottom:1px solid #ddd;
}

.archive h2 {
	padding:0;
}

.archive ol, .archive ul {
	list-style-type:none;
}

.archive ol li, .archive ul li {
	margin-bottom:1.5em;
}

.archive ol p, .archive ul p {
	font-size:0.88em;
	width:80%;
}

.archive h2 {
	font-size:1em;
	margin:0px;
	font-weight:normal;
}

.archive h2 time {
	font-size:0.88em;
	color:#777;
}

.archive h2.title {
	font-size:1.75em;
	margin-bottom:1.5em;
	padding:0.75em 0;
}

.archive-nav ul {
	margin-top:-1.5em;
}

/* maps */

#map {
	display:none;
	}
	
img.map {
	border:none !important;
	padding:0 !important;
}


div.contact li {
	list-style:none;
	margin:0 0 0.25em 0;
}

/* twitter nonsense */

article section {
	margin-top:3em;
	padding-top:1em;
	font-size:0.81em;
	margin:1.5em auto;
	width:100%;
	border-top:1px solid #ddd;
}

article section h1 {
	font-size:1em;
}

#comments ul {
	margin:0;
	padding:0;
}

#comments ul li {
	padding:1.5em 0 0 0;
	margin:1.5em 0 0 0;
	height:72px;
}

#comments ul:first-child {
	border-top:1px solid #ddd;
}

#comments ul:last-child {
	border-bottom:1px solid #ddd;
}

#comments ul:only-child {
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}

#comments span.time {
	display:none;
}

#comments a.JRM {
	margin:0 0 0 0.5em;
}

#commentshelp {
	display:none;
	}
	
#fancy_div h1 {
	padding:1em 1.5em 0 1.5em;
}

#fancy_div p {
	font-size:0.88em;
	padding:0 1.5em;
}
	
img.juitterAvatar {
	border:1px solid #ddd;
	width:2.5em;
	height:2.5em;
	margin:0 1em 1.5em 0;
	float:left;
	opacity:.7;
}

img.juitterAvatar:hover {
	opacity:.9;
}

/* footnotes - a legitimate use for the aside tag! */

article aside {
	border-top:1px solid #ddd;
	font-size:0.88em;
}

article aside ol {
	margin:0.75em 0 0 1.5em;
}

sup {
	font-size:0.75em;
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	vertical-align: bottom;
	position: relative;
	bottom: 2ex;
}

sub {
	font-size:0.75em;
}

/* misc. */

em {
	font-style:italic;
}

.clearfix:after {
   content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden;
   }

/* If an abbr has a title, underline it when the paragraph it's in is hovered over */

p:hover abbr[title] {
	border-bottom:1px dotted #666;
}

/* The extra div is for IE8 - see http://mottr.am/ien  */

noscript div {
	margin:3.75em;
	padding:0.75em;
	color:#ff0000;
	background:#ffffe0;
	border:1px solid #ff0000;
}

/* Using filenames to position images in posts - see http://forabeautifulweb.com/s/1238 for more */

img[src*="left"] {
	float:left;
	width:13em;
	margin:0.25em 1.5em 0 0;
	border:1px solid #ddd;
}

img[src*="left"]:hover {
	-moz-transform:rotate(-1deg) scale(1.2);
	-webkit-transform:rotate(-1deg) scale(1.2);
}

img[src*="centre"] {
	border:1px solid #ddd;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

/* Becase the small tag in HTML5 is for small print, in the legal sense */

p.small {
	font-size:0.88em;
}

.link p.small {
	font-size:0.81em;
}

/* Intense Debate - specificity overload */

#idc-container-parent h3, #idc-container-parent .idc-message, #idc-container-parent .idc-new, #idc-container-parent #IDCommentNewThreadText, #idc-container-parent .idc-postnav-list {
	margin-bottom:1.5em !important;
}

#idc-container-parent #IDNewThreadSubmitLI {
	float:left !important;
	margin-top:1.5em;
}

#idc-container-parent .idc-comments .idc-c {
	margin-bottom:1.5em !important;
	padding-bottom:1.5em !important;
	border-bottom:1px solid #ddd;
}

#idc-container-parent #IDNewThreadSubmitLI .idc-r strong {
	font-weight:normal !important;
}

#idc-container-parent .idc-c-b #IDNewThreadSubmitLI .idc-btn_l {
	margin:0 !important;
}

#idc-container-parent .idc-foot {
	border:none !important;
}

#idc-container-parent .idc-foot a.idc-idlogo, #idc-container .idc-foot .idc-id span {
	background:transparent !important;
	text-indent:0 !important;
	width:auto !important;
	font-size:0.63em !important;
}

#idc-container-parent #IDCommentsNoCommentsDiv {
	display:none !important;
}

#idc-container-parent .idc-signup {
	margin-top:1.5em;
}

#idc-container-parent a.idc-id {
	background:transparent !important;
}

#idc-container-parent .idc-loginbtn_openid, #idc-container-parent .idc-loginbtn_intensedebate, #idc-container-parent .idc-loginbtn_twitter, #idc-container-parent .idc-loginbtn_wordpress {
	background:transparent !important;
	text-indent:0 !important;
	width:auto !important;
	margin-right:1em;
}


.amp {
	font-family: Baskerville, Palatino, Constantina, "Palatino Linotype", "Book Antiqua", serif;
	font-style: italic;
}

small {
	display:block;
	-moz-column-count:2;
	-webkit-column-count: 2;
	font-size:0.75em;
	color:#777;
}

small p {
	margin:0;
}
/* future-proofing - only applies to /audio-test/ for the moment */

audio, video {margin-bottom:1.5em;}

/* Reading List Table */

table#reading, table#reading th, table#reading td {
	border-collapse:collapse;
	padding:4px 4px 4px 6px;
}

table#reading {
	width:66em;
	margin:0 0 1.5em -9em; 
	border:1px solid #aaa;
}

tbody tr:nth-child(2n+1) {
	background:#fafafa;
}

table#reading thead th, table#reading tbody td {
	font-size:0.75em;
	text-align:left;
	border-bottom:1px solid #aaa;
	border-right:1px solid #aaa;
}

table#reading tr td:nth-child(1), table#reading tr td:nth-child(2) {
	width:10em;
}

table#reading tr td:nth-child(3) {
	width:20em;
}

table#reading tr td:nth-child(4), table#reading tr td:nth-child(5), table#reading tr td:nth-child(6), table#reading tr td:nth-child(7)  {
	width:7em;
}

/* Feeds on tag pages */

.bookmarks {
	font-size:0.875em;
}

#feed .gf-snippet, #feed .gf-author, #feed .gf-spacer, #feed .gfc-resultsHeader, #feed .gf-relativePublishedDate { 
        display : none;
      }

#feed .gf-title {
	padding:0 0 0.286em 0;
}

/* code highlighting */
.highlight{background:#fff;}.highlight .err{color:#a61717;background-color:#e3d2d2;}.highlight .cp{color:#999;font-weight:400;}.highlight .cs{color:#999;font-weight:400;font-style:italic;}.highlight .gd{color:#000;background-color:#fdd;}.highlight .gd .x{color:#000;background-color:#faa;}.highlight .ge{font-style:italic;}.highlight .gi{color:#000;background-color:#dfd;}.highlight .gi .x{color:#000;background-color:#afa;}.highlight .go{color:#888;}.highlight .gu{color:#aaa;}.highlight .nb{color:#0086B3;}.highlight .ni{color:purple;}.highlight .nt{color:navy;}.highlight .w{color:#bbb;}.highlight .sr{color:#009926;}.highlight .ss{color:#990073;}.highlight .c,.highlight .cm,.highlight .c1{color:#998;font-style:italic;}.highlight .k,.highlight .o,.highlight .gs,.highlight .kc,.highlight .kd,.highlight .kp,.highlight .kr,.highlight .ow{font-weight:400;}.highlight .gr,.highlight .gt{color:#a00;}.highlight .gh,.highlight .bp{color:#999;}.highlight .gp,.highlight .nn{color:#555;}.highlight .kt,.highlight .nc{color:#458;font-weight:400;}.highlight .m,.highlight .mf,.highlight .mh,.highlight .mi,.highlight .mo,.highlight .il{color:#099;}.highlight .s,.highlight .sb,.highlight .sc,.highlight .sd,.highlight .s2,.highlight .se,.highlight .sh,.highlight .si,.highlight .sx,.highlight .s1{color:#d14;}.highlight .na,.highlight .no,.highlight .nv,.highlight .vc,.highlight .vg,.highlight .vi{color:teal;}.highlight .ne,.highlight .nf{color:#900;font-weight:400;}
