/* Reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,menu,nav,section,time,mark,audio,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}body{line-height:1;}article,aside,dialog,figure,footer,header,hgroup,nav,section{display:block;}nav ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}a{border:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}ins{background-color:#ffe;color:#000;text-decoration:none;}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700;}del{text-decoration:line-through;}abbr[title],dfn[title]{border:none;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}input,select{vertical-align:middle;}
/* end reset */

/* Styles - this is still a work in progress, so everything is a bit messy at the moment - sorry! */
 
@font-face {
	font-family: 'Museo Sans 500';
	src: url('/f/MuseoSans_500.eot');
	src: local('Museo Sans 500'), local('MuseoSans-500'), url('/f/MuseoSans_500.woff') format('woff'), url('/f/MuseoSans_500.otf') format('opentype'), url('/f/MuseoSans_500.svg#MuseoSans-500') format('svg');
}

body {
	background: #fff;
	background: -webkit-gradient(linear,0 100%,0 0,color-stop(.3,#fff),color-stop(1,#fafafa)) fixed no-repeat 0 100%;
	background: -moz-linear-gradient(0 100%,0 0,color-stop(.3,#fff),color-stop(1,#fafafa)) fixed no-repeat 0 100%;
	line-height:24px;
	color:#555;
	font:normal 16px/24px Helvetica, Arial, sans-serif;
}

section {
	background:transparent;
	width:640px;
	margin:96px auto;
}

dd, h1, h2, p, cite, quote, blockquote, object, ol, ul, img, pre {
	margin-bottom:24px;
}

h1, .about h2, .contact h2 {
	font-family:"Museo Sans 500", Helvetica, "Helvetica Neue", Arial, sans-serif;
	font-size:28px;
	font-weight:normal;
	padding:0 0 12px 0;
	/* border-bottom:1px solid #ddd; */
}

.link h1:after {
	font-family:Baskerville, Palatino, "Book Antiqua", Georgia, serif;
	color:#aaa;
	font-weight:normal !important;
	font-size:18px;
	content:" \261b";
	}

.link p {
	font-size:14px;
	}

.link h1 {
	font-size:18px;
} 

h3 {
	font-size:16px;
	line-height:24px;
	font-weight:normal;
}

ol {
	list-style-type:decimal;
}

ul {
	list-style-type:circle;
}

pre, code {
	font-family:Monaco, Consolas, "Andale Mono", "monotype.com", "Bitstream Vera Sans Mono", monospace;
	font-size:14px;
}

blockquote {
	color:#777;
	text-align:justify;
	padding:0 66px 0 48px;
}

blockquote + p > em {
	display:block;
	text-align:right;
	margin:-24px 66px 24px 0;
}

blockquote + p > em:before {
	content:" \2014";
}

a, a:link, a:visited, a:active{
	color:#008;
	text-decoration:none;
	-moz-transition: all 0.3s ease-in-out;
   	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
	
a:hover {
	color:#777;
}
	
/* nav - gratuitous CSS 3 abuse! */

nav#main {
	position:fixed;
	top:0;
	width:100%;
	border-bottom:1px solid #ddd;
	background:#fff;
	background: #fff;
	opacity:.8;
	height:24px;
	padding:12px 0;
	-webkit-box-shadow: 0px 4px 4px #ccc;
	-moz-box-shadow: 0px 4px 4px #ccc;
	box-shadow: 0px 4px 4px #ccc;
	z-index:99;
}

nav#main ul {
	position:relative;
	width:590px;
	margin:0 auto;
}

nav#main ul li form {
	display:inline;
	position:absolute;
	right:0;
}

nav#main input.idle {
	color:#999;
	font-size:13px;
	line-height:15px;
	border:1px solid #dedede;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding:1px;
	-webkit-box-shadow: 1px 1px 1px #ccc;
	-moz-box-shadow: 1px 1px 1px #ccc;
	box-shadow: 1px 1px 1px #ccc;
:q

}

nav#main input.focus {
	color:#444;
	border:1px solid #aaa;
}

nav ul li {
	display:inline;
	list-style-type:none;
	margin:0 7px 0 0;
}

nav ul li a {
	font-family:"Museo Sans 500", Helvetica, "Helvetica Neue", Arial, sans-serif;
	text-shadow: #ddd 0 -1px 0, rgba(255,255,255,.2) 0 1px 0;
	-moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

nav ul li.active a {
	color:#444;
}

nav ul li a:hover {
	text-shadow: #ddd 1px 1px 0, rgba(255,255,255,.2) 1px 1px 0;
}


/* Metadata */

article footer {
	font-size:13px;
	font-weight:lighter;
	margin:-24px 0 24px 0;
}

article nav h1 {
	font-size:16px;
}

article nav ul {
	padding:0;
	margin:0;
	font-size:14px;
}

article nav ul li {
	display:block;
	margin:0 0 12px;
	padding:0;
}

article nav ul time {
	color:#777;
}

article nav ul li a {
	text-shadow:none !important;
}

address {
	font-style:normal;
}

footer address, .about address {
	display:inline;
}

.about h2, .contact h2 {
	margin-top:48px;
}

article, section#archive, div.contact {
	margin:0;
/*	border:1px solid #ddd;
	-webkit-box-shadow: 3px 3px 3px #ccc;
	-moz-box-shadow: 3px 3px 3px #ccc;
	box-shadow: 3px 3px 3px #ccc; in case I want boxes back*/
	padding:48px 24px 24px 24px;
	background: #fff;
}

section#archive {
	width:590px;
	margin:96px auto;
	background:#fff;
}

section#archive section {
	margin:0;
}

.about article, div.contact, .photo article, .video article, .link article, .basic article, .audio article, ul.more {
	width:590px;
	margin:96px auto;
}

article ul, article ol {
	padding:0; /* 24px - add if putting boxes back */
}

article ul li {
	margin:0 0 24px 0;
}

.home article {
	margin:0 0 120px 0;
}

ul.more {
text-align:center;
padding:4px 24px 4px 24px;
height:24px !important;
}

ul.more li {
	font-size: 13px;
	padding:0 14px 0 0;
}

/* Tidy up pygments code highlighting a bit */

div.highlight pre {
	font-size:13px;
}

div.highlight {
	width:600px;
	overflow:auto;
	margin:0 0 12px 0;
}

div.highlight li p {
	margin:0;
}

/* archive page */

nav.archive {
	margin:24px 0 0;
}

nav.archive ul {
	padding:0 0 12px 0;
	border-bottom:1px solid #ddd;
}

.archive h2 {
	padding:0;
}

.archive ol {
	list-style-type:none;
}

.archive ol li {
	margin-bottom:24px;
}

.archive ol p {
	font-size:14px;
	width:80%;
}

.archive h2 {
	font-size:16px;
	margin:0px;
	font-weight:normal;
}

.archive h2 time {
	font-size:14px;
	color:#777;
}

.archive-nav ul {
	margin-top:-24px;
}

/* maps */

#map {
	display:none;
	}
	
img.map {
	border:none !important;
	padding:0 !important;
}


div.contact li {
	list-style:none;
	margin:0 0 4px 0;
}

/* twitter nonsense */

article section {
	margin-top:48px;
	padding-top:16px;
	font-size:13px;
	margin:24px auto;
	width:590px;
	border-top:1px solid #ddd;
}

article section h1 {
	font-size:16px;
}

#comments ul {
	margin:0;
	padding:0;
}

#comments ul li {
	padding:24px 0 0 0;
	margin:24px 0 0 0;
	height:72px;
}

#comments ul:first-child {
	border-top:1px solid #ddd;
}

#comments ul:last-child {
	border-bottom:1px solid #ddd;
}

#comments ul:only-child {
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}

#comments span.time {
	display:none;
}

#comments a.JRM {
	margin:0 0 0 8px;
}

#commentshelp {
	display:none;
	}
	
#fancy_div h1 {
	padding:24px;
}

#fancy_div p {
	font-size:14px;
	padding:0 24px;
}
	
img.juitterAvatar {
	border:1px solid #ddd;
	width:40px;
	height:40px;
	margin:0 16px 24px 0;
	float:left;
	opacity:.7;
}

img.juitterAvatar:hover {
	opacity:.9;
}

/* footnotes - a legitimate use for the aside tag! */

article aside {
	border-top:1px solid #ddd;
	font-size:14px;
}

article aside ol {
	margin:12px 0 0 24px;
}

sup {
	font-size:12px;
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	vertical-align: bottom;
	position: relative;
	bottom: 2ex;
}

/* misc. */

em {
	font-style:italic;
} 

/* If an abbr has a title, underline it when the paragraph it's in is hovered over */

p:hover abbr[title] {
	border-bottom:1px dotted #666;
}

.museo {
	font-family:"Museo Sans 500", Helvetica, "Helvetica Neue", Arial, sans-serif;
}

/* The extra div is for IE8 - see http://mottr.am/ien  */

noscript div {
	margin:60px;
	padding:10px;
	color:#ff0000;
	background:#ffffe0;
	border:1px solid #ff0000;
}

/* Using filenames to position images in posts - see http://forabeautifulweb.com/s/1238 for more */

img[src*="left"] {
	float:left;
	width:200px;
	margin-right:20px;
	margin-bottom:20px;
	border:1px solid #ddd;
}

img[src*="left"]:hover {
	-moz-transform:rotate(-1deg) scale(1.2);
	-webkit-transform:rotate(-1deg) scale(1.2);
}

img[src*="centre"] {
	border:1px solid #ddd;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

/* Becase the small tag in HTML5 is for small print, in the legal sense */

p.small {
	font-size:14px;
}

/* Intense Debate - specificity overload */

#idc-container-parent h3, #idc-container-parent .idc-message, #idc-container-parent .idc-new, #idc-container-parent #IDCommentNewThreadText, #idc-container-parent .idc-postnav-list {
	margin-bottom:24px !important;
}

#idc-container-parent #IDNewThreadSubmitLI {
	float:left !important;
	margin-top:24px;
}

#idc-container-parent .idc-comments .idc-c {
	margin-bottom:24px !important;
	padding-bottom:24px !important;
	border-bottom:1px solid #ddd;
}

#idc-container-parent #IDNewThreadSubmitLI .idc-r strong {
	font-weight:normal !important;
}

#idc-container-parent .idc-c-b #IDNewThreadSubmitLI .idc-btn_l {
	margin:0 !important;
}

#idc-container-parent .idc-foot {
	border:none !important;
}

#idc-container-parent .idc-foot a.idc-idlogo, #idc-container .idc-foot .idc-id span {
	background:transparent !important;
	text-indent:0 !important;
	width:auto !important;
	font-size:10px !important;
}

#idc-container-parent #IDCommentsNoCommentsDiv {
	display:none !important;
}

#idc-container-parent .idc-signup {
	margin-top:24px;
}

#idc-container-parent a.idc-id {
	background:transparent !important;
}

#idc-container-parent .idc-loginbtn_openid, #idc-container-parent .idc-loginbtn_intensedebate, #idc-container-parent .idc-loginbtn_twitter {
	background:transparent !important;
	text-indent:0 !important;
	width:auto !important;
	margin-right:1em;
}

/* future-proofing - only applies to /audio-test/ for the moment */

audio, video {margin-bottom:24px;}

/* code highlighting */
.highlight{background:#fff;}.highlight .err{color:#a61717;background-color:#e3d2d2;}.highlight .cp{color:#999;font-weight:700;}.highlight .cs{color:#999;font-weight:700;font-style:italic;}.highlight .gd{color:#000;background-color:#fdd;}.highlight .gd .x{color:#000;background-color:#faa;}.highlight .ge{font-style:italic;}.highlight .gi{color:#000;background-color:#dfd;}.highlight .gi .x{color:#000;background-color:#afa;}.highlight .go{color:#888;}.highlight .gu{color:#aaa;}.highlight .nb{color:#0086B3;}.highlight .ni{color:purple;}.highlight .nt{color:navy;}.highlight .w{color:#bbb;}.highlight .sr{color:#009926;}.highlight .ss{color:#990073;}.highlight .c,.highlight .cm,.highlight .c1{color:#998;font-style:italic;}.highlight .k,.highlight .o,.highlight .gs,.highlight .kc,.highlight .kd,.highlight .kp,.highlight .kr,.highlight .ow{font-weight:700;}.highlight .gr,.highlight .gt{color:#a00;}.highlight .gh,.highlight .bp{color:#999;}.highlight .gp,.highlight .nn{color:#555;}.highlight .kt,.highlight .nc{color:#458;font-weight:700;}.highlight .m,.highlight .mf,.highlight .mh,.highlight .mi,.highlight .mo,.highlight .il{color:#099;}.highlight .s,.highlight .sb,.highlight .sc,.highlight .sd,.highlight .s2,.highlight .se,.highlight .sh,.highlight .si,.highlight .sx,.highlight .s1{color:#d14;}.highlight .na,.highlight .no,.highlight .nv,.highlight .vc,.highlight .vg,.highlight .vi{color:teal;}.highlight .ne,.highlight .nf{color:#900;font-weight:700;}
