<section>
	<p>You can tweet a reply using a <a title="Tweet this post to Twitter" href="http://twitter.com/home?status=http://mottr.am/{{ page.short }}">link to this page</a> or the hashtag <strong>#mot_{{ page.short }}</strong>. (<a class="inline" href="#commentshelp">Help?</a>)</p>
	<noscript><p>You need JavaScript turned on to see Twitter comments.</p></noscript>
	<div id="comments"></div>
	
	<script>
	var idcomments_acct = '5ea46b1bc7b430ca06f9306be3e47f35';
	var idcomments_post_id;
	var idcomments_post_url;
	</script>
	<span id="IDCommentsPostTitle" style="display:none"></span>
	<script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
	
	<div id="commentshelp"><header><h1>Commenting via Twitter</h1></header><p>If you have a <a href="http://twitter.com">Twitter</a> account and wish to reply to this post, just tweet what you'd like to say, and make sure to put <strong>#mot_{{ page.short }}</strong> somewhere in your tweet.</p><p>The gobbledygook beginning with '#' is called a 'hashtag', and makes it easy for this site to search Twitter for your tweet, and display it on the correct page.</p><p>Alternatively, you can <a title="Tweet this post to Twitter" href="http://twitter.com/home?status=http://mottr.am/{{ page.short }}">tweet about this post</a> and include its short <abbr>URL</abbr>, <strong>http://mottr.am/{{ page.short }}</strong>, and your tweet will be displayed automatically, whether you use the hashtag or not.</p><p>If you <em>don't</em> have a Twitter account, and would rather not use the comment form, feel free to send me an email instead: <a href="mailto:j@ck.mottr.am">j@ck.mottr.am</a></p></div>
	</section>
