<!DOCTYPE html>
<html dir="ltr" lang="en-GB" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<meta name="google-site-verification" content="I6L7LN2vcQKRuZmdgjWR4ra9sg2vrJBSRKkLb2HvHVU" />
<link rel="stylesheet" href="http://media.1tw.org/c/style-min.css" type="text/css" media="screen, projection" />{% if page.css %}
<link rel="stylesheet" href="/c/{{ page.css }}.css" type="text/css" media="screen, projection" />{% endif %}{% if page.short %}
<link rel="stylesheet" href="http://media.1tw.org/c/jquery.fancybox.css" type="text/css" media="screen, projection" />{% endif %}
<title>{{ page.title }} | Mottr.am</title>
<meta name="author" content="Jack Mottram" />
<meta name="viewport" content="width = 680" />{% if page.description %}
<meta name="description" content="{{ page.description }}" />{% endif %}{% if page.tags %}
<meta name="keywords" content="{% for tag in page.tags %}{{ tag }},{% endfor %}" />{% endif %}
<link rel="canonical" href="http://mottr.am{{ page.url }}" />{% if page.short %}
<link rel="shorturl" href="http://mottr.am/{{ page.short }}" />{% endif %}
<link rel="apple-touch-icon" href="/u/iphone.png"/>
<link rel="icon" type="image/ico" href="/favicon.ico" />{% if page.next %}
<link rel="next" href="{{ page.next.url }}" title="{{ page.next.title }}" />{% endif %}{% if page.previous %}
<link rel="previous" href="{{ page.previous.url }}" title="{{ page.previous.title }}" />{% endif %}
<link rel="alternate" type="application/rss+xml" href="atom.xml" title="Mottr.am latest posts" />
<!--[if IE]>
<link rel="stylesheet" href="http://media.1tw.org/c/ie.css" type="text/css" media="screen, projection" />
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="http://media.1tw.org/s/timeago.js"></script>
<script type="text/javascript" src="http://media.1tw.org/s/min.js"></script>
{% if page.short %}<script type="text/javascript">
	/* <![CDATA[ */
	$(document).ready(function() {
		$.Juitter.start({
			searchType:"searchWord",
			searchObject:"%23mot_{{ page.short }},http%3A%2F%2Fmottr.am%2F{{ page.short }}",
			placeHolder:"comments",
			loadMSG: "<em>Loading comments...</em>",
		});
		});
	/* ]]> */
</script>{% endif %}{% if page.category == 'audio' or page.category == 'home' %}
<script type="text/javascript">  
	        AudioPlayer.setup("http://media.1tw.org/s/player.swf", {  
	            width: 300  
	        });  
</script>{% endif %}{% if page.category == 'home' %}
<link rel="openid.server" href="http://www.myopenid.com/server" />
<link rel="openid.delegate" href="http://mottram.myopenid.com/" />
<link rel="openid2.local_id" href="http://mottram.myopenid.com" />
<link rel="openid2.provider" href="http://www.myopenid.com/server" />{% endif %}
</head>
