<nav id="main">
<ul>
<li{% if page.category == 'home' %} class="active"{% endif %}><a title="Go to the Mottr.am homepage" href="/">Home</a></li>
<li{% if page.category == 'archive' %} class="active"{% endif %}><a title="Peruse the Mottr.am archive" href="/archive/">Archive</a></li>
<li><a title="Subscribe to the Mottr.am feed" href="/atom.xml">Feed</a></li>
<li{% if page.category == 'about' %} class="active"{% endif %}><a title="About Mottr.am" href="/about/">About</a></li>
<li{% if page.category == 'contact' %} class="active"{% endif %}><a title="Email, 'phone number, other websites" href="/contact/">Contact</a></li>
<li>
<form action="http://www.google.com/cse" id="cse-search-box">
<input type="hidden" name="cx" value="014102087920370527414:mp4-rc73dee" />
<input type="hidden" name="ie" value="UTF-8" />
<input type="text" name="q" value="Search..." size="15" />
</form>
</li>
</ul>
</nav>
