# Force Firefox 2, Camino et al to recognise HTML 5
Options +FollowSymlinks
RewriteEngine on
RewriteCond %{REQUEST_URI} \.html$
RewriteCond %{HTTP_USER_AGENT} rv:1\.(([1-8]|9pre|9a|9b[0-4])\.[0-9.]+).*Gecko
RewriteRule .* - [T=application/xhtml+xml]

ErrorDocument 404 /404/

# Redirect old Wordpress feed, redirect short URLs to canonical URLs
redirect 301 /feed/atom/ http://mottr.am/atom.xml
redirect 301 /tw http://mottr.am/2009/11/09/weblog-comments-via-twitter
redirect 301 /mm http://mottr.am/2009/11/08/mapumental
redirect 301 /ie5 http://mottr.am/2009/11/05/html-5-and-ie-a-warning
redirect 301 /dh2 http://mottr.am/2009/09/10/sentimental-dancehall-part-2
redirect 301 /hr http://mottr.am/2009/09/06/holiday-reading
redirect 301 /dh http://mottr.am/2009/09/05/sentimental-dancehall
redirect 301 /su http://mottr.am/2009/09/03/revs-rels-short-urls
redirect 301 /wr http://mottr.am/2009/08/29/the-sun-sets-on-afghanistan
redirect 301 /pg http://mottr.am/2009/08/28/philip-garridos-weblog
redirect 301 /pc http://mottr.am/2009/08/26/pinboard-and-conkeror
redirect 301 /v http://mottr.am/2009/08/21/video-in-a-magazine
redirect 301 /ci http://mottr.am/2009/08/03/put-conky-in-the-ion3-statusbar
redirect 301 /11 http://mottr.am/2009/07/22/apollo-11-code
redirect 301 /n http://mottr.am/2009/06/16/nodebox-doodle
redirect 301 /hh http://mottr.am/2009/06/07/homonyms-homophones
redirect 301 /sky http://mottr.am/2009/05/02/sky-rhythm
redirect 301 /pl http://mottr.am/2009/04/30/pretty-link


# BEGIN Compress text files
<IfModule mod_deflate.c>
  <FilesMatch "\.(css|js|x?html?|php)$">
    SetOutputFilter DEFLATE
  </FilesMatch>
</IfModule>
# END Compress text files
 
# BEGIN Expire headers
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 1 seconds"
  ExpiresByType image/x-icon "access plus 2592000 seconds"
  ExpiresByType image/jpeg "access plus 2592000 seconds"
  ExpiresByType image/png "access plus 2592000 seconds"
  ExpiresByType image/gif "access plus 2592000 seconds"
  ExpiresByType application/x-shockwave-flash "access plus 2592000 seconds"
  ExpiresByType text/css "access plus 604800 seconds"
  ExpiresByType text/javascript "access plus 216000 seconds"
  ExpiresByType application/x-javascript "access plus 2592000 seconds"
  ExpiresByType text/html "access plus 600 seconds"
  ExpiresByType application/xhtml+xml "access plus 600 seconds"
</IfModule>
# END Expire headers
 
# BEGIN Cache-Control Headers
<IfModule mod_headers.c>
  <FilesMatch "\\.(ico|jpe?g|png|gif|swf)$">
    Header set Cache-Control "max-age=2592000, public"
  </FilesMatch>
  <FilesMatch "\\.(css)$">
    Header set Cache-Control "max-age=604800, public"
  </FilesMatch>
  <FilesMatch "\\.(js)$">
    Header set Cache-Control "max-age=216000, private"
  </FilesMatch>
  <FilesMatch "\\.(x?html?|php)$">
    Header set Cache-Control "max-age=600, private, must-revalidate"
  </FilesMatch>
</IfModule>
# END Cache-Control Headers
 
# BEGIN Turn ETags Off
<IfModule mod_headers.c>
  Header unset ETag
</IfModule>
FileETag None
# END Turn ETags Off
 
# BEGIN Remove Last-Modified Header
<IfModule mod_headers.c>
  Header unset Last-Modified
</IfModule>
# END Remove Last-Modified Header