---
layout: page
type: archive
---

<section id="archive">
<h1>{{ page.year }}</h1>
{% for m in (1..12) reversed %}
  {% if site.collated_posts[page.year][m] %}
    <h2><a href="/{{ page.year }}/{{ m }}/">{{ m | to_month }}</a></h2>
    <ul>
    {% for d in (1..31) reversed %}
      {% if site.collated_posts[page.year][m][d] %}
        {% for p in site.collated_posts[page.year][m][d] reversed %}
          <li><a href='{{ p.url }}'>{{ p.title }}</a>
	</li>
        {% endfor %}
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
{% endfor %}
</section>

