{% include header.html %}
<body{% if page.css %} id="{{ page.css }}"{% endif %} class="mottram {{ page.category }}">
<!--[if IE]><noscript><div><p>Are you using Internet Explorer with JavaScript turned off?</p><p>This site probably looks a bit of a mess.</p><p>If you can, turn JavaScript on, and reload the page - that should fix the problem.</p><p>If you can't do that, my apologies. For fun, I made the site using new code that Explorer doesn't understand just yet.</p><p>Comments? Complaints? Email me at j@ck.mottr.am</p></div></noscript><![endif]-->
{% include nav.html %}
{{ content }}
{% include footer.html %}