<!DOCTYPE html>
<html dir="ltr" lang="en-GB">
<head>
   	<meta charset="utf-8" />
   	<title>Mottr.am | {{ page.title }}</title>
   	<meta name="author" content="Jack Mottram" />
	{% if page.description %}<meta name="description" content="{{ page.description }}" />{% endif %}
   	<meta name="keywords" content="{% for topic in page.topics %}{{ topic }},{% endfor %}" />
   	<link rel="alternate" type="application/rss+xml" href="/feed/atom/" title="Mottr.am latest posts" />
   	<link rel="stylesheet" href="/c/reset.css" type="text/css" media="screen, projection" />
   	<link rel="stylesheet" href="/c/style.css" type="text/css" media="screen, projection" />
   	{{ if page.has_code == 'yes' }}<link rel="stylesheet" href="/c/syntax.css" type="text/css" media="screen, projection" />{{ endif }}
	<!--[if IE]>
   	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
   	<![endif]-->
   	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	{% if page.type == 'archive' %}<script type="text/javascript" src="/s/mottram.js"></script>{% endif %}
   	<link rel="canonical" href="http://mottr.am{{ page.url }}" />
	{% if page.short %}<link rel="shorturl" href="http://mottr.am/{{ page.short }}" />
	<link rev="canonical" href="http://mottr.am/{{ page.short }}" />{% endif %}
	{% if page.type == 'audio' %}
	<script type="text/javascript" src="/s/audio-player.js"></script>
	<script type="text/javascript">  
            AudioPlayer.setup("http://macbook:3000/s/player.swf", {  
                width: 300  
            });  
    </script>{% endif %}
</head>
<body class="mottram {{ page.type }}">
<section>
    {{ content }}
</section>
<nav id="main">
	<ul>
		<li {% if page.type == 'home' %}class="active"{% endif %}><a title="Go to the Mottr.am homepage" href="/">Home</a></li>
		<li {% if page.type == 'archive' %}class="active"{% endif %}><a title="Peruse the Mottr.am archive" href="/archive/">Archive</a></li>
		<li><a title="Subscribe to the Mottr.am feed" href="/atom.xml">Feed</a></li>
		<li {% if page.type == 'about' %}class="active"{% endif %}><a title="About Mottr.am" href="/about/">About</a></li>
		<li {% if page.type == 'contact' %}class="active"{% endif %}><a title="Send Jack an email" href="/contact/">Contact</li>
	</ul>
</nav>
</body>
</html>

