<!DOCTYPE html>
<html dir="ltr" lang="en-GB" xmlns="http://www.w3.org/1999/xhtml">
<head>
   	<meta charset=utf-8 />
   	<title>Mottr.am | {{ page.title }}</title>
	<meta name="google-site-verification" content="I6L7LN2vcQKRuZmdgjWR4ra9sg2vrJBSRKkLb2HvHVU" />
	<meta name="author" content="Jack Mottram" />
	<meta name="viewport" content="width = 680">
	{% if page.description %}<meta name="description" content="{{ page.description }}" />{% endif %}
   	<meta name="keywords" content="{% for topic in page.topics %}{{ topic }},{% endfor %}" />
	<link rel="canonical" href="http://mottr.am{{ page.url }}" />
	{% if page.short %}<link rel="shorturl" href="http://mottr.am/{{ page.short }}" />{% endif %}
	<link rel="apple-touch-icon" href="/u/iphone.png"/>
	<link rel="icon" type="image/ico" href="/favicon.ico" />
   	<link rel="alternate" type="application/rss+xml" href="atom.xml" title="Mottr.am latest posts" />
   	<link rel="stylesheet" href="/c/style.css" type="text/css" media="screen, projection" />{% if page.short %}
	<link rel="stylesheet" href="/c/jquery.fancybox.css" type="text/css" media="screen, projection" />{% endif %}
	<!--[if IE]>
	<link rel="stylesheet" href="/c/ie.css" type="text/css" media="screen, projection">
   	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
   	<![endif]-->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	<script type="text/javascript" src="/s/min.js"></script>
	{% if page.short %}<script type="text/javascript">
	/* <![CDATA[ */
	$(document).ready(function() {
		$.Juitter.start({
			searchType:"searchWord",
			searchObject:"%23mot_{{ page.short }},http%3A%2F%2Fmottr.am%2F{{ page.short }}",
			placeHolder:"comments",
			loadMSG: "<em>Loading comments...</em>",
		});
		});
	/* ]]> */
	</script>{% endif %}{% if page.type == 'audio' or page.type == 'home' %}
	<script type="text/javascript">  
	        AudioPlayer.setup("http://mottr.am/s/player.swf", {  
	            width: 300  
	        });  
	</script>{% endif %}
</head>
<body class="mottram {{ page.type }}">
<!--[if IE]>
<noscript><div style="margin:60px;background:lightyellow;border:1px solid black;color:red;padding:10px;"><p>It looks like you're using <b>Internet Explorer</b> with <b>JavaScript turned off</b>.</p><p>As you can see, the site is a right old mess - if you can, turn JavaScript on, and reload the page.</p><p>If you <i>can't</i> do that, my apologies: as a bit of an experment, I'm using HTML 5 to make this site, and decided it was worth the risk of showing folk using IE but not JS a broken site.</p><p>Comments? Complaints? Email me at j@ck.mottr.am</p></div></noscript>
<![endif]-->
{% include nav.html %}
    {{ content }}
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-122435-3");
	pageTracker._trackPageview();
	} catch(err) {}</script>
</body>
</html>

