---
layout: default
---
{% if page.type == 'link' %}
<article class="link">
<h2><a href="{{ page.link_to }}">{{ page.title }}</a></h2>

{% include meta.html %}

{{ content }}

</article>

{% include related.html %}

{% endif %}

{% if page.type == 'photo' %}
<article class="photo">
<h2>{{ page.title }}</h2>

{% include meta.html %}

<img alt="{{ page.title }}" title="{{ page.title }}" src="{{ page.image_url }}" width="500" />

{{ content }}
</article>
{% include related.html %}
{% endif %}

{% if page.type == 'youtube' %}
<article>
<h2>{{ page.title }}</h2>
{% include meta.html %}
<object type="application/x-shockwave-flash" style="width:600px; height:492px;" data="{{ page.video_url }}">
<param name="movie" value="{{ page.video_url }}" />
</object>
</article>
{% include related.html %}
{% endif %}

{% if page.type == 'basic' %}
<article>
<h2>{{ page.title }}</h2>

{% include meta.html %}

{{ content }}
</article>

{% include related.html %}
{% endif %}
