---
layout: default
---
{% if page.type == 'link' %}
<article class="link">
<h1><a href="{{ page.link_to }}">{{ page.title }}</a></h1>

{% include meta.html %}

{{ content }}

</article>

{% include related.html %}

{% endif %}

{% if page.type == 'photo' %}
<article class="photo">
<h1>{{ page.title }}</h1>

{% include meta.html %}

<img alt="{{ page.title }}" title="{{ page.title }}" src="{{ page.image_url }}" width="500" />

{{ content }}
</article>
{% include related.html %}
{% endif %}

{% if page.type == 'video' %}
<article>
<h1>{{ page.title }}</h1>
{% include meta.html %}
<object type="application/x-shockwave-flash" style="width:600px; height:492px;" data="{{ page.video_link }}">
<param name="movie" value="{{ page.video_link }}" />
</object>
{{ content }}
</article>
{% include related.html %}
{% endif %}

{% if page.type == 'basic' %}
<article>
<h1>{{ page.title }}</h1>

{% include meta.html %}

{{ content }}
</article>

{% include related.html %}
{% endif %}
