---
layout: default
title: Page 2
category: home
has_code: yes
description: Jack Mottram's weblog 
keywords: art, photography, design, fashion, web development, mottram
---
<section>
{% for post in site.posts limit: 10 offset: 10 %}{% if post.category == 'photo' %}
<article>
	
<header>
<h1>{{ post.title }}</h1>
</header>

{% include home_meta.html %}

{% if post.imageurl %}<img alt="{{ post.title }}" title="{{ post.title }}" src="http://dl.dropbox.com/u/84981/blog/{{ post.imageurl }}" width="590" />{% endif %}

{{ post.content }}

</article>
{% endif %}
{% if post.category == 'link' %}
<article class="link">

<header>
<h1><a title="{{ post.title }}" href="{{ post.linkto }}">{{ post.title }}</a></h1>
</header>

{% include home_meta.html %}

{{ post.content }}

</article>
{% endif %}
{% if post.category == 'video' %}
<article>

<header>
<h1>{{ post.title }}</h1>
</header>

{% include home_meta.html %}
<object type="application/x-shockwave-flash" style="width:590px; height:484px;" data="{{ post.video_link }}">
<param name="movie" value="{{ post.video_link }}" />
</object>

{{ post.content }}

</article>
{% endif %}
{% if post.category == 'audio' %}
<article>

<header>
<h1>{{ post.title }}</h1>
</header>

{% include home_meta.html %}

<p id="audioplayer_1"><a title="Download the audio file" href="{{ post.audio_link }}">Download</a></p>  
<script type="text/javascript">  
AudioPlayer.embed("audioplayer_1", {soundFile: "{{ post.audio_link }}"});  
</script>

{{ post.content }}

</article>
{% endif %}
{% if post.category == 'basic'%}
<article>

<header>
<h1>{{ post.title }}</h1>
</header>

{% include home_meta.html %}

{{ post.content }}

</article>
{% endif %}
{% endfor %}
</section>

<nav>
<ul class="more">
<li>&#8592; <a title="The most recent posts" href="/">Newer posts</a></li>
<li><a title="Older posts" href="/3/">Older posts</a> &#8594;</li>
</ul>
</nav>